@model ResultEmployeeDto

@{
    ViewData["Title"] = "EmployeeDetails";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="container">
    <h1 class="mt-5">@ViewData["Title"]</h1>
    <hr />

    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Employee ID:</dt>
                    <dd class="col-sm-8">@Model.Id</dd>

                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Model.FirstName @Model.Lastname</dd>

                    <dt class="col-sm-4">Department:</dt>
                    <dd class="col-sm-8">@ViewBag.DepartmentName</dd>

                    <!-- Add more fields as needed -->
                </dl>

                <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
            </div>
        </div>
    }
    else
    {
        <p class="text-danger">Unable to load employee details.</p>
    }
</div>
